<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.simpleapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SimpleApp">
        <activity android:name=".halladmin.OfficialRemove"
            android:configChanges="orientation"
            android:screenOrientation="portrait" ></activity>
        <activity android:name=".Official"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".superadmin.HallAdminRemove"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".halladmin.SeeStuList"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".halladmin.SeeFilteredStudents"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".halladmin.SearchStudent"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".halladmin.FilterStudents"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".superadmin.Dashboard"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".halladmin.OfficialAssign"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".halladmin.SeatAssign"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".halladmin.CreateSeat"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".superadmin.HallAdminAssign"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.AdminEditProfile"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.AdminProfile"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".halladmin.HallAdmin"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.AdminLogin"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.AdminRegister"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".superadmin.CreateRoom"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".superadmin.CreateFloor"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".superadmin.CreateHall"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".superadmin.SuperAdmin"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.CheckAdminLevel"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".student.EditProfile"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".student.Profile"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".student.Login"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".VerifyEmail"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".student.Register"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".halladmin.SeeStuDetails"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
    </application>

</manifest>